{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },

    "root": true,
  
    "plugins": [
        "prettier"
    ],
  
    "env": {
        "browser": true
    },
  
    "rules": {
        "prettier/prettier": "error"
    }
}
