html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#clockTime {
    position: absolute;
    top: 0;
}

#clockBackground {
    background-color: #fff;
}

#musicToggle {
    top: 25%;
    left: -5px;
    padding: 16px 16px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    color: #fff;
    border: none;
    outline: none;
}