html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#clockTime {
    position: absolute;
    top: 0;
    left: 0;
}

#musicToggle {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 16px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0;
}