<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>srqlock</title>

  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>
  <div id="featuredContent" class="centeredColumn">
    <a href="https://github.com/samrum" target="_blank" class="githubLink">
      Ruben Medina
    </a>
  </div>
  <div id="clockBackground"></div>
  <div id="clockTime" class="centeredColumn">
    <span id="clockHeadline"></span>
    <span id="clockByline"></span>
  </div>
  <button id="musicToggle">Music</button>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>
</html>